@using System.Security.Claims;

<div class="panel col-md-1 col-lg-1">
    <div class="profile row">
        <div class="picture">
            <input type="file" id="uploadInput" style="display: none;" />
            <img id="profileImg" src="@(User.Claims.FirstOrDefault(x => x.Type == "ImagePath").Value)" alt="profileImage" title="Profil Fotoğrafını Güncelle" />
        </div>
        <div class="name text-center">
            <h3>@(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name).Value + " " + User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Surname).Value)</h3>
        </div>
    </div>

  

    <div class="ul">
    
        <div class="panel-items">
            <ul class="panel-list">
                <li>
                    <a asp-action="Home" asp-controller="Employee"><i class="fa-solid fa-calendar-days"></i>Dashboard</a>
                </li>
                <li>
                    <a asp-action="EditProfile" asp-controller="Employee" asp-route-id=@User.Claims.FirstOrDefault(x=>x.Type==ClaimTypes.NameIdentifier).Value><i class="fa fa-users"></i>Profil Düzenleme</a>
                </li>
                @if (User.IsInRole("Personel") || User.IsInRole("Manager"))
                {
                    <li class="parent">
                        <a href="#"><i class="fa fa-users"></i>Taleplerim</a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-action="MyLeaves" asp-controller="Leave"><i class="fa fa-users"></i>İzin Taleplerim</a>
                            </li>
                            <li>
                                <a asp-action="MyAdvances" asp-controller="Advance"><i class="fa fa-users"></i>Avans Taleplerim</a>
                            </li>
                            <li>
                                <a asp-action="MyExpenses" asp-controller="Expense"><i class="fa fa-users"></i>Harcama Taleplerim</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("CompanyManager") || User.IsInRole("Manager"))
                {
                    <li>
                        <a asp-action="Employees" asp-controller="Employee"><i class="fa fa-users"></i>Personeller</a>
                    </li>
                    <li class="parent">
                        <a href="#"><i class="fa fa-users"></i>Personel Talepleri</a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-action="EmployeesLeaves" asp-controller="Leave"><i class="fa fa-users"></i>Personel İzin Talepleri</a>
                            </li>
                            <li>
                                <a asp-action="EmployeesAdvances" asp-controller="Advance"><i class="fa fa-users"></i>Personel Avans Talepleri</a>
                            </li>
                            <li>
                                <a asp-action="EmployeesExpenses" asp-controller="Expense"><i class="fa fa-users"></i>Personel Harcama Talepleri</a>
                            </li>
                        </ul>
                    </li>
                }

                <li>
                    <a href="#"><i class="fa fa-newspaper"></i>Raporlar</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar"></i>Takvim</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope"></i>E-posta</a>
                </li>
                <li>
                    <a asp-action="ProfileEmployee" asp-controller="Employee"><i class="fa fa-users"></i>Profil</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="log-out-button text-center">
        
        <a asp-controller="Account" asp-action="Logout" class="custom-button custom-button--logout">Çıkış Yap</a>
    </div>

</div>





@*<script>
    //Aktif sayfayı belirleme
    const activePage = window.location.pathname;
    const navLinks = document.querySelectorAll('.panel-list a');
    navLinks.forEach(link => {
        const listItem = link.parentElement;
        if (link.href.includes(`${activePage}`)) {
            link.classList.add('active');
            listItem.style.backgroundColor = 'gray';
            listItem.style.color = 'green';
         
        } 
    });
</script>*@

<script>
    //Açılır kapanır panel menu
    $(document).ready(function () {
        $(".sub-menu").slideUp();
        $(".parent").click(function () {
            $(this).find(".sub-menu").slideToggle();
        });
    });


    // Profile image upload
    $(document).ready(function () {
        $('#profileImg').on('click', function () {
            $('#uploadInput').click(); // Trigger file input click on image click
        });

        $('#uploadInput').on('change', function (e) {
            var file = e.target.files[0];
            if (!file) return;

            var formData = new FormData();
            formData.append('Id', 'UserId'); // Replace with the user ID
            formData.append('UploadPath', file);

            $.ajax({
                url: '/Account/UpdateProfileImage',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    // Assuming the response is the updated image path from the server
                    var imagePath = response.imageUrl;
                    $('#profileImg').attr('src', imagePath);
                    console.log('Profile image updated successfully');
                },
                error: function (xhr, status, error) {
                    console.error('Error updating profile image:', error);
                }
            });
        });
    });
</script>

@*<style>
    a:is(:link, :active, :visited).active {
        color: black;
        background-color: white;
    }
</style>
*@
@*<style>
   
    .parent:is(:link, :active, :visited).active,
    .sub-menu .active,
    .panel-list li .active {
       color: black;
        background-color: white;
       
    }
</style>*@

@*<style>

    li .active {
        color: black;
        background-color: white;
    }
</style>*@


            <style>
                
                .sub-menu .active{
                    font-size:12px;
                }

                .sub-menu {
                    font-size: 12px;
                }
            </style>