@using System.Security.Claims
<div class="panel col-md-3 cold-lg-3">
    <div class="profile row">
        <div class="picture">
            <img src="@(User.Claims.FirstOrDefault(x => x.Type == "ImagePath").Value)" alt="profileImage" />
        </div>
        <div class="name text-center">
            <h3>@(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name).Value + " " + User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Surname).Value)</h3>
        </div>

    </div>

    <div class="ul">
        <div class="panel-items">
            <ul class="panel-list">
                <li>
                    <a asp-action="Home" asp-controller="Employee"><i class="fa-solid fa-calendar-days"></i>Dashboard</a>
                </li>
                @if(User.IsInRole("CompanyManager") || User.IsInRole("DepartmentManager"))
                {
                    <li>
                        <a asp-action="Employees" asp-controller="Employee"><i class="fa fa-users"></i>Personeller</a>
                    </li>
                    <li>
                        <a asp-action="LeaveRequest" asp-controller="Employee"><i class="fa fa-users"></i>Personeller</a>
                    </li>
                    <li>
                        <a asp-action="AdvanceRequest" asp-controller="Employee"><i class="fa fa-users"></i>Personeller</a>
                    </li>
                    <li>
                        <a asp-action="ExpenseRequest" asp-controller="Employee"><i class="fa fa-users"></i>Personeller</a>
                    </li>
                }

                <li>
                    <a href="#"><i class="fa fa-newspaper"></i>Raporlar</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar"></i>Takvim</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope"></i>E-posta</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i>Ayarlar</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="log-out-button text-center">
        <a asp-controller="Account" asp-action="Logout" class="custom-button custom-button--logout">Çıkış Yap</a>
    </div>
</div>
