@using humanResourceProject.Models.DTOs;
@model CompanyRegisterDTO

@{
    ViewData["Title"] = "New Company";
}

<div class="text-center">
    <h2><strong>Şirket Bilgileri</strong></h2>

    <form asp-action="Insert" asp-controller="Company" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="CompanyName" class="control-label"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="TaxNumber" class="control-label"></label>
            <input asp-for="TaxNumber" class="form-control" />
            <span asp-validation-for="TaxNumber" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="TaxOffice" class="control-label"></label>
            <input asp-for="TaxOffice" class="form-control" />
            <span asp-validation-for="TaxOffice" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="NumberOfEmployees" class="control-label"></label>
            <input asp-for="NumberOfEmployees" class="form-control" />
            <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <input type="submit" value="Şirket Oluştur" class="btn btn-primary" /> 
        </div>
    </form>
</div>
