<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Monitorease</title>
    <style>
        body {
            text-align: center;
        }

        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo-container img {
            max-width: 100%;
            height: auto;
        }

        section {
            text-align: center;
        }
    </style>
</head>
<body>

    <header>
        <div class="logo-container">
            <h1>Monitorease</h1>
            <img src="ImagesLogo/HRBanner.png" alt="Monitorease Logo">          
        </div>
    </header>

    <section>
        <h2>İnsan Kaynaklarınızı Yönetmenin Kolay ve Etkili Yolu!</h2>
    </section>

</body>
</html>
