<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Monitorease - Anasayfa</title>
    <style>
        body {
            text-align: center;
        }

        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .logo-container img {
                max-width: 100%;
                height: auto;
            }

        section {
            text-align: center;
        }

        .panel-button {
            background-color: #FF9190;
            border-color: #FF9190;
            padding: 5px 20px;
            transition: all 0.3s ease-in-out;
        }

            .panel-button:hover {
                background-color: snow;
                color: #5E6ED1;
                border-color: #5E6ED1;
            }
    </style>
</head>
<body>

    <header>
        <div class="logo-container">
            @* <h1>Monitorease</h1>*@
            <h2 class="mt-5" style="z-index:999">İnsan Kaynaklarınızı Yönetmenin Kolay ve Etkili Yolu!</h2>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Home" asp-controller="Employee" style="z-index:999"><button class="btn btn-primary mt-2 panel-button">Panele Git</button></a>
            }

            <div class="banner vector">
                <img src="~/ImagesLogo/HRBanner.png" alt="Monitorease Logo" style="width:75%;position:relative; top:-50px">
            </div>

        </div>
    </header>

    <section>
    </section>

</body>
</html>
