html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  /*min-height: 100%;*/
  min-height: 100vh;
}

body {
    /*margin-bottom: 60px;*/
    font-family: 'Plus Jakarta Sans', Roboto, sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-submit {
    background-color: #133A63;
    border: 1px solid transparent; 
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

    .btn-submit:hover {
        background-color: snow;
        color: #133a63;
        border-color: #133a63;
    }

.card-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #222;
    letter-spacing: 1.1px;
}