/*MANAGER PANEL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', Roboto, sans-serif;
}

.panel {
    padding: 1vw;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    background-color: #31374a;
}

.profile {
    justify-content: center;
}

.name {
    color: snow;
    margin-top: 20px;
    font-size: 20px;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .picture img {
        object-fit: cover;
        cursor: pointer;
    }

.panel-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 80px;
    padding: 2vw;
}

.panel-list, .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .panel-list li {
        padding: 10px;
    }

        .panel-list li a {
            text-decoration: none;
            color: snow;
            -moz-transition: inherit;
            -o-transition: inherit;
            -webkit-transition: inherit;
            transition: inherit;
        }

            .panel-list li a:hover {
                color: #A0AAFF;
            }

            .panel-list li a:active {
                color: #A0AAFF;
            }

            .panel-list li a:focus {
                outline: none;
            }

    .panel-list i {
        padding-right: 10px;
    }

.custom-button {
    align-items: center;
    text-align: center;
    width: 10vw;
    height: 6vh;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    -webkit-text-decoration: inherit;
    text-decoration: none;
    border-radius: 5px;
    -moz-transition: inherit;
    -o-transition: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}

.custom-button--logout {
    margin-top: 50px;
    background-color: #A0AAFF;
    color: #31374a;
}

.custom-button:hover {
    background-color: #31374a;
    color: #A0AAFF;
    border: 1px solid #A0AAFF;
}

.custom-button:active {
    background-color: #31374a;
    color: #A0AAFF;
    border: 1px solid #A0AAFF;
}

.custom-button:focus {
    outline: none;
}

.custom-button--create-entity {
    background-color: #31374a;
    color: snow;
}

    .custom-button--create-entity:hover {
        background-color: snow;
        color: #31374a;
        border: 1px solid #31374a;
    }

    .custom-button--create-entity:active {
        background-color: #31374a;
        color: snow;
        border: 1px solid #31374a;
    }

    .custom-button--create-entity:focus {
        outline: none;
    }
/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 30px;
    z-index: 999;
}

    .pagination a {
        text-decoration: none;
        color: #75cfa6;
        padding: 10px;
        background-color: #31374a;
        font-size: 20px;
    }

.active {
    text-decoration: none;
    color: #31374a;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

/*SCROLLER*/

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e48774;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #e48774;
    }
