@model humanResourceProject.Models.VMs.AdvancePersonnelVM


<h1>Avans Talebi</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAdvance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AmountOfAdvance" class="control-label"></label>
                <input asp-for="AmountOfAdvance" class="form-control" />
                <span asp-validation-for="AmountOfAdvance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvanceType" class="control-label"></label>
                <input asp-for="AdvanceType" class="form-control" />
                <span asp-validation-for="AdvanceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <textarea asp-for="Explanation" class="form-control"></textarea>
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.EmployeeId)
            @Html.HiddenFor(model => model.Status)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AdvanceStatus)

            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anasayfaya Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}