@{
    ViewData["Title"] = "Access Denied";
}

@*<div>
    <h1>Access Denied</h1>
    <p>Sorry, you do not have permission to access this page.</p>
</div>*@



<div class="col-md-12">
    <div class="background-image  col-md-12 text-center">
        <img src="~/ImagesLogo/access-denied.png" class="img-fluid error-vector" style="margin-top:4%;" />
    </div>
</div>

