@{
    ViewData["Title"] = "RegistrationSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin: 35px auto;">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">MONITOREASE'E HOŞGELDİNİZ! 👋</h2>
                    <hr />
                    <p class="card-text">Sisteme kaydınız başarılı bir şekilde gerçekleşmiştir.</p>
                    <p class="card-text">Team Monitorease tarafından kaydınız onaylandıktan sonra, vermiş olduğunuz e-mail adresinize hesap doğrulama e-maili gelecektir.</p>
                    <p class="card-text">Hesabınızı doğruladıktan sonra, sisteme giriş yapabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
