
@{
    ViewData["Title"] = "RegistrationSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kayıt başarılı</h2>
<hr />
<p>Sisteme kaydınız başarılı bir şekilde gerçekleşmiştir.</p>
<p>Team Monitorease tarafından kaydınız onaylandıktan sonra, vermiş olduğunuz e-mail adresinize hesap doğrulama maili gelecektir.</p>
<p>Hesabınızı doğruladıktan sonra, sisteme giriş yapabilirsiniz.</p>

