@model CompanyRegisterDTO

@{
    ViewData["Title"] = "RegisterCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />

<body class="fs-6 min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin: 35px auto;">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="text-center fw-bold">ADIM 1</h3>
                        <p class="text-center text-secondary" style="margin-top: -5px;">Lütfen Şirketinizin Bilgilerini Eksiksiz Giriniz (1/2)</p>
                        <form asp-action="RegisterCompany">
                            <div class="form-group mb-3">
                                <label asp-for="CompanyName" class="control-label"></label>
                                <input type ="text" id="CompanyName" oninput="limitCharacters()" asp-for="CompanyName" class="form-control" />
                                <input id="charCount" type="hidden"></input>
                                <p id="charLimitMessage" style="color: red;"></p>
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Address" class="control-label"></label>
                                <input type="text" id="Address" oninput="limits()" asp-for="Address" class="form-control" />
                                <input id="Count" type="hidden"></input>
                                <p id="LimitMessage" style="color: red;"></p>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="TaxNumber" class="control-label"></label>
                                <input asp-for="TaxNumber" class="form-control" />
                                <span asp-validation-for="TaxNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="TaxOffice" class="control-label"></label>
                                <input asp-for="TaxOffice" class="form-control" />
                                <span asp-validation-for="TaxOffice" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" placeholder="Başında 0 (sıfır) olmadan giriniz." />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="NumberOfEmployees" class="control-label"></label>
                                <input asp-for="NumberOfEmployees" class="form-control" />
                                <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label>*Zorunlu alan</label>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <div class="form-group d-grid">
                                <input type="submit" value="İleri" class="btn-submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (TempData["Result"] == "success")
    {
        <script>
            toastr["success"]("Şirket kaydı gerçekleşmiştir.", "Başarılı")
        </script>
    }
    else if (TempData["Result"] == "modelinvalid")
    {
        <script>
            toastr["warning"]("Girdiğiniz bilgileri lütfen kontrol ediniz.", "Hatalı bilgi girişi!")
        </script>
    }
    else if (TempData["Result"] == "error")
    {
        <script>
            toastr["error"]("Şirket kaydı gerçekleşmemiştir.", "Bir hata oluştu!")
        </script>
    }
}
<script>
    function limits() {
        var inputElement = document.getElementById('Address');
        var CountElement = document.getElementById('Count');
        var charLimitMessageElement = document.getElementById('LimitMessage');

        var maxCharacters = 200;

        var enteredText = inputElement.value;
        var Count = maxCharacters - enteredText.length;

        CountElement.innerText = 'Kalan Karakter Sayısı: ' + Count;

        if (Count == 0) {
            inputElement.value = enteredText.slice(0, maxCharacters);
            charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
          
        } else {
            charLimitMessageElement.innerText = '';
        }
    }
</script>


<script>
    function limitCharacters() {
        var inputElement = document.getElementById('CompanyName');
        var charCountElement = document.getElementById('charCount');
        var charLimitMessageElement = document.getElementById('charLimitMessage');

        var maxCharacters = 100;

        var enteredText = inputElement.value;
        var charCount = maxCharacters - enteredText.length;

        charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

        if (charCount == 0) {
            inputElement.value = enteredText.slice(0, maxCharacters);
            charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';

        } else {
            charLimitMessageElement.innerText = '';
        }
    }
</script>
