@model ResetPasswordDTO;

@{
    ViewData["Title"] = "Reset Password";
}

<body>
    <div class="col-md-4 mt-5" style="margin: 0 auto">
        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-body">

                    <div class="row">
                        <p class="small text-center">Lütfen yeni oluşturmak istediğiniz şifreyi giriniz.</p>
                        <input asp-for="Token" type="hidden" />
                        <input asp-for="Id" type="hidden" />
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="control-label mb-1 small"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword" class="control-label mb-1 small"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-3 d-grid">
                        <input type="submit" value="Yenile" class="btn-submit" />
                    </div>
                    @if (ViewData.ModelState.ContainsKey("SuccessMessage"))
                    {
                        <p class="text-success">@Html.Raw(ViewData.ModelState["SuccessMessage"].Errors[0].ErrorMessage) <a asp-action="Login" asp-controller="Account">Buraya</a> tıklayarak giriş yapabilirsiniz.</p>
                        
                    }
                    else if (ViewData.ModelState.ContainsKey("ErrorMessage"))
                    {
                        <p class="text-danger">@Html.Raw(ViewData.ModelState["ErrorMessage"].Errors[0].ErrorMessage)</p>
                    }
                    else
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    }

                </div>
            </div>
        </form>
    </div>
</body>


