@model humanResourceProject.Models.VMs.LeavePersonnelVM

@{
    ViewData["Title"] = "CreateLeave";
}

<h1>İzin Oluştur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLeave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StartDateOfLeave" class="control-label"></label>
                <input asp-for="StartDateOfLeave" class="form-control" />
                <span asp-validation-for="StartDateOfLeave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateOfLeave" class="control-label"></label>
                <input asp-for="EndDateOfLeave" class="form-control" />
                <span asp-validation-for="EndDateOfLeave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                <input asp-for="LeaveType" class="form-control" />
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysOfLeave" class="control-label"></label>
                <input asp-for="DaysOfLeave" class="form-control" />
                <span asp-validation-for="DaysOfLeave" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.LeaveStatus)
            <div class="form-group">
                <input type="submit" value="İzin Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anasayfaya Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
