@model JobDTO

@{
    ViewData["Title"] = "CreateJob";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
</style>

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 35px auto">
            <form asp-action="CreateJob" asp-controller="Job" method="post">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h1 class="card-title text-center">YENİ POZİSYON EKLE</h1>
                    </div>
                    <div class="card-body">

                        <div class="form-group mb-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input id="Title" oninput="limits()" value="@Model.Title" asp-for="Title" class="form-control" />
                            <input id="Count" type="hidden"></input>
                            <p id="LimitMessage" style="color: red;"></p>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <input id="Description" oninput="limitCharacters()" asp-for="Description" class="form-control" />
                            <input id="charCount" type="hidden"></input>
                            <p id="charLimitMessage" style="color: red;"></p>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                        <div class="form-group mb-3">
                            <input asp-for="CompanyId" type="hidden" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label>*Zorunlu alan</label>
                        </div>

                        <div class="form-group mb-3 d-grid">
                            <input type="submit" value="Ekle" class="btn-submit" />
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>
            </form>
@*            <div>
                <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
            </div>*@
        </div>
    </div>
    <script>
        function limitCharacters() {
            var inputElement = document.getElementById('Description');
            var charCountElement = document.getElementById('charCount');
            var charLimitMessageElement = document.getElementById('charLimitMessage');

            var maxCharacters = 500; // Maksimum karakter sayısını belirle

            var enteredText = inputElement.value;
            var charCount = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

            if (charCount == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
            } else {
                charLimitMessageElement.innerText = '';
            }
        }
    </script>
    <script>
        function limits() {
            var inputElement = document.getElementById('Title');
            var charCountElement = document.getElementById('Count');
            var charLimitMessageElement = document.getElementById('LimitMessage');

            var maxCharacters = 50;

            var enteredText = inputElement.value;
            var Count = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + Count;

            if (Count == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';

            } else {
                charLimitMessageElement.innerText = '';
            }
        }

    </script>
</body>

