@model PossessionDTO

@{
    ViewData["Title"] = "CreatePossession";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
</style>

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 50px auto">
            <form asp-action="CreatePossession" asp-controller="Possession" method="post">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h1 class="card-title text-center">Yeni Zimmet Ekle</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label asp-for="Barcode" class="control-label"></label>
                            <input id="Barcode" oninput="limitCharacters()" asp-for="Barcode" class="form-control" />
                            <input id="charCount" type="hidden"></input>
                            <p id="charLimitMessage" style="color: red;"></p>
                            <span asp-validation-for="Barcode" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Brand" class="control-label"></label>
                            <input id="Brand" oninput="limits()" asp-for="Brand" class="form-control" />
                            <input id="Count" type="hidden"></input>
                            <p id="LimitMessage" style="color: red;"></p>
                            <span asp-validation-for="Brand" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PossessionModel" class="control-label"></label>
                            <input id="PossessionModel" oninput="limitChar()" asp-for="PossessionModel" class="form-control" />
                            <input id="charC" type="hidden"></input>
                            <p id="Message" style="color: red;"></p>
                            <span asp-validation-for="PossessionModel" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PossessionType" class="control-label"></label>
                            <select asp-for="PossessionType" class="form-control">
                                @{
                                    var enumType = typeof(PossessionType);
                                    var enumValues = enumType.GetEnumValues();

                                    foreach (var enumValue in enumValues)
                                    {
                                        var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();

                                        <option value="@enumValue">@displayName</option>
                                    }
                                    <option value="-1" selected>Zimmet Türü seçiniz!</option>
                                }

                            </select>
                            @* <span asp-validation-for="PossessionType" class="text-danger"></span> *@
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Details" class="control-label"></label>
                            <input id="Details" oninput="limit()" asp-for="Details" class="form-control" />
                            <input id="char" type="hidden"></input>
                            <p id="MessageL" style="color: red;"></p>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input asp-for="CompanyId" type="hidden" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>*Zorunlu alan</label>
                        </div>

                        <div class="form-group mb-3 d-grid">
                            <input type="submit" value="Ekle" class="btn-submit" />
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function limitCharacters() {
            var inputElement = document.getElementById('Barcode');
            var charCountElement = document.getElementById('charCount');
            var charLimitMessageElement = document.getElementById('charLimitMessage');

            var maxCharacters = 50; // Maksimum karakter sayısını belirle

            var enteredText = inputElement.value;
            var charCount = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

            if (charCount == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
            } else {
                charLimitMessageElement.innerText = '';
            }
        }
    </script>
    <script>
        function limits() {
            var inputElement = document.getElementById('Brand');
            var charCountElement = document.getElementById('Count');
            var charLimitMessageElement = document.getElementById('LimitMessage');

            var maxCharacters = 50;

            var enteredText = inputElement.value;
            var Count = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + Count;

            if (Count == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';

            } else {
                charLimitMessageElement.innerText = '';
            }
        }

    </script>
    <script>
        function limitChar() {
            var inputElement = document.getElementById('PossessionModel');
            var charCountElement = document.getElementById('charC');
            var charLimitMessageElement = document.getElementById('Message');

            var maxCharacters = 50; // Maksimum karakter sayısını belirle

            var enteredText = inputElement.value;
            var charCount = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

            if (charCount == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
            } else {
                charLimitMessageElement.innerText = '';
            }
        }
    </script>
    <script>
        function limit() {
            var inputElement = document.getElementById('Details');
            var charCountElement = document.getElementById('char');
            var charLimitMessageElement = document.getElementById('MessageL');

            var maxCharacters = 250; // Maksimum karakter sayısını belirle

            var enteredText = inputElement.value;
            var charCount = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

            if (charCount == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
            } else {
                charLimitMessageElement.innerText = '';
            }
        }
    </script>
</body>

